@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Bold.woff') format('woff'),
        url('/fonts/Mulish-Bolf.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Regular.woff2') format('woff2'),
        url('/fonts/Mulish-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}